<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
 <title>SaudeFood</title> 
 <link rel="stylesheet" type="text/css" th:href="@{/css/bf_estiloSistema.css}">
 <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
    <header>
        <div id="divLogotipoSistema">
            <span id="spanAuxiliarDeAlinhamentoVertical"></span>        
           
            <img th:src="@{/imagens/logo.PNG}" id="imgLogotipoSitema" >
       
        </div>
        
        <div id="divUsuarioLogado" th:if="${#authentication.principal != 'anonymousUser'}">
            <span th:text="'Ola, ' + ${#authentication.principal.usuario.nome}"></span><br/>
             
            <div th:if="${session.carrinho != null}" style="display : inline;">
            
            <a th:href="@{/cliente/carrinho/visualizar}"> <img th:src="@{/imagens/bf_iconeCarrinho.png}" id="imgIconeCarrinho"> </a>
            
            </div>       
            
        </div>
    </header>
    <br/><br/>   
    <!--cabecalho fim-->
     
     <div>
		 <form id="form" method="get" th:object="${searchFilter}" th:action="@{/cliente/search}">
		 			<input id="searchType" type="hidden" th:field="*{searchType}"/>
		 	    	<input id="categoriaId" type="hidden" th:field="*{categoriaId}"/>
	    <div>
	        <h1>É Hora de Rangar !</h1>
	        
	            <fieldset>
	            	
	                <label for="busca">Buscar :</label><br/>
	                <input type="text" th:field="*{texto}" placeholder="Buscar..."/>
	                <input type="button" value="Procurar" onclick="searchRest(null);"/>
	            </fieldset>
	
	      
	    </div>
	
	    <div id="divCategoriasComidaGeral">
	        <div id="divCategoriaComidasOpcao" th:each="categoria : ${categorias}">
	            <a href="#" th:onclick="'searchRest(' + ${categoria.id} + ');'">
	                <img th:src="@{/images/categoria/} + ${categoria.imagem} " id="imgCategoriaComida"><br/>
	                <span th:text="${categoria.nome}"></span>
	            </a>
	        </div>
	                
	    </div>
	
	    </form>
	</div>
   
        <h1>Ultimos Pedidos</h1>
        
        <div th:each="pedido : ${pedidos}">
        	
        	<input type="button" th:value="${pedido.formattedId} + ' ' + ${pedido.restaurante.nome}"
        	th:onclick="'location.href=\'' + @{/cliente/pedido/view} + '?pedidoId=' + ${pedido.id} + '\';'"/><br/>
        	<br/>
        </div>
        <span th:if="${pedidos.size() == 0}"> Não existe nenhum Pedido Anterior !</span>
     

    <div>
        <h1>Conta</h1>
        <input type="button" value ="Meus Dados" th:onclick="'location.href=\'' + @{/cliente/edit} + '\';'"/>
        <br/>
        <input type="button" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'"/><br/>
    </div>

     <!--Róda pé inicio-->
    
</body>

</html>